<h1>h1 Démo de la charte graphique</h1>
<h2>h2 Sous-titre</h2>
<h3>h3 Sous-titre</h3>
<h4>h4 Sous-titre</h4>
<h5>h5 Sous-titre</h5>
<h6>h6 Sous-titre</h6>

<p>Ad nulla occaecat velit anim voluptate voluptate exercitation exercitation ipsum commodo duis enim ut incididunt.</p>
<p>Tempor non amet duis occaecat aliquip fugiat pariatur deserunt occaecat cupidatat. Non nulla eu proident ex excepteur magna. Ullamco aliquip nostrud ut sit irure ullamco ipsum reprehenderit non mollit mollit consectetur. Eiusmod consequat nostrud culpa reprehenderit deserunt Lorem. Dolore commodo excepteur veniam excepteur.</p>

<alert [type]="type" *ngFor="let type of alertTypes" dismissible="true">
  Alerte de type <strong>{{type}}</strong>
</alert>
